@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Source+Sans+Pro:300,400,700&display=swap');

body {
  font-family: 'Source Sans Pro',
    sans-serif;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(100deg, rgba(250, 214, 195, 0.8) 30%, #b0eae8 120%);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}